<!DOCTYPE html>
<head>
<title>Crypto Data</title>
</head>

<body>
    <article>
        <h1>Crypto Data</h1><hr>
        <h3 style='color: black'>Coin</h3>
        <p style='color: orange'><%= b.chartName %></p>
        <h3 style='color: black'>Valor em USD</h3>
        <p><%= b.bpi.USD.rate %> em <%= b.time.updated %></p><hr>
        <footer style='color: gray'>
            <p><%= b.disclaimer %></p>
        </footer>
    </article>
</body>
</html>